<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>GitHubActionTest</title>
    </head>
    <body>
        GitHubActionTest
        <script src="/js/index.js" type="module" charset="utf-8"></script>
    </body>
</html>
